	html, body
	{
		height: 100%;
	}

	body
	{
		width: 100%;
		margin: 0px;
		padding: 0px;
		background: #0d192d;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 13pt;
		font-weight: 300;
		color: #90fbdc;
	}

	h1
	{
		margin: 0;
		padding: 0;
		font-weight: 800;
		color: #e8f1fe;
	}

	h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #90fbdc;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}

	p
	{
		line-height: 160%;
	}

	ul.actions
	{
		text-align: center;
	}

		ul.actions li
		{
		}

	.center
	{
		text-align: center;
	}

	strong
	{
	}

	a
	{
		color: #90fbdc;
	}

	a:hover
	{
		text-decoration: none;
		color: #90fbdc;
		background: #8a92ad;
	}

	.img-centered img
	{
		width: 300px;
		height: 300px;
	}

	.img-centered
	{
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		height: 50%;
		text-align: center;
	}
	.img-centered h2
	{
		color: #8a92ad;
	}

	.row
	{
		display: flex;
		margin: 3em 0 3em 0;
	}

	.col img
	{
		height: 300px;
		width: 300px;
	}

	.col
	{
		float: left;
		width: 50%;
		padding: 5px;
		text-align: center;
	}

	.col h2
	{
		color: #8a92ad;
	}

	.col h3
	{
		text-decoration: underline;
	}

	.row::after
	{
		content: "";
		clear: both;
		display: table;
	}

	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}

	hr
	{
		border-top: 1px dotted #112b4d;
	}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 0 2em;
	}

	.image-right
	{
		float: right;
		margin: 0 2em 0 2em;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}

	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #90fbdc;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #90fbdc;
	}

	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #0d192d;
		border: 1px #90fbdc solid;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
	}

	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}

	.button:hover
	{
		color: #90fbdc;
		background: #8a92ad;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 1em;
		margin-top: 1em;
	}

	.title h2
	{

		font-size: 2.7em;
	}

	.title .byline
	{
		font-size: 1.7em;
		color: #8a92ad;
	}

	.title .byline img
	{
		max-width: 250px;
		max-height: 250px;
	}

	.title li
	{
		padding-top: 2em;
		font-size: 18px;
	}

	.title li span
	{
		text-decoration: underline;
		color: white;
	}


/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}

	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}

	.box4
	{
		float: right;
	}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 320px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}

	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1
	{
		float: left;
		margin-left: 0;
		width: 50%;
	}

	.tbox2
	{
		float: right;
		margin-right: 0;
		width: 100%;
	}

	#wrapper
	{
		background: #0d192d;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		background: #0d192d;
	}

	#header
	{
		position: relative;
		padding: 3em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1em;
		left: 2em;

	}

	#logo h1
	{
		color: #8ef8da;
	}

	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #8ef8da;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 3em;
		right: 0;
	}

	#menu ul
	{
		display: inline-block;
	}

	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}

	#menu li a, #menu li span
	{
		padding: 1em 1.2em;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1em;
		color: #8ef8da;
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: #8ef8da;
		background: #8a92ad;
		border: 1px #8a92ad solid
	}

	#menu .current_page_item a
	{
		background: #8a92ad;
		border: 1px #8a92ad solid;
	}

	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	.img-container
	{
		background-image: url(img/background-saturn.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		text-align: center;
	}

	.img-container .title
	{
		text-align: center;
		position: absolute;
		width: 100%;
		height: auto;
		margin-top: 325px;
	}

	.img-container .teamname
	{
		color: #8ef8da;
		align-self: top;
		font-family: 'Source Code Pro', monospace;
		font-size: 4em;
	}

	.img-container .title h2
	{
		font-style: italic;
	}

	.img-container h2
	{
		color: #8ef8da;
		text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
	}

	.img-container .title .byline
	{
		color: #8a92ad;
		font-family: 'Source Sans Pro', sans-serif;
	}

	.img-container .button
	{
		margin-top: 430px;
		background: #0d192d !important;
		border: 1px #90fbdc solid;
	}

	.img-container .button:hover
	{
		color: #8ef8da;
		background: #8a92ad;
		border: 1px #8a92ad solid
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 5em 0em;
		text-align: center;
	}

	#page .button
	{
		margin-top: 2em;
		display: inline-block;
		text-align: center;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}

	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.5);
	}

	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #0d192d;
		text-align: center;
	}

	#featured a
	{
		color: 90fbdc;
	}

	#featured .button
	{
		background: #90fbdc;
		margin-top: 3em;
		font-size: 1em;
		background: #0d192d;
		border: 1px #90fbdc solid;
	}

	#featured .title
	{
	}

	#featured .title h2
	{
		color: #90fbdc;
	}

	#featured .title .byline
	{
		color: #8a92ad;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.box
{
	padding: 3em 2em 2em 2em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
	text-align: center;
	font-size: 18px;
}


	#extra
	{
		overflow: hidden;

	}

	#extra .title
	{
		text-align: center;
	}

	#extra .button
	{
		margin-top: 5em;
	}

	#extra .fa
	{
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
	}



